# Build directories
/target/
crates/lekhani-fcitx5/build/
build/
dist/
*.bin
!data/dictionaries/bengali_lm.bin

# Backup files
**/*.rs.bk

# OS metadata
.DS_Store
Thumbs.db

# IDEs
.idea/
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
